/* Default styles for the .divnav */
.divnav {
  padding: 0px;
  
}

/* Default styles for the .list and .li elements */
.list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  border:30px;
  background-color: rgba(93, 96, 96, 0.87);

}

.li {
  margin: 5px;
}

.head1 {
  padding: 5px;
  font-size: 24px;
  margin: 0;
}

.Search {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 700px;
}

.search_button, .login {
  padding: 5px 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  
}

.search_button
{
  margin-left:30px;;
}
.login
{
  margin-left: 20px;
}

/* Apply styles when the screen width is 600px or less (typically for mobile devices) */
@media (max-width: 600px) {
  .list {
    flex-direction: column;
    align-items: center;
  }

  .Search {
    max-width: none;
  }

  .search_button, .login {
    margin-top: 10px;
    width: 100%;
  }
}
